/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
} */


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes at least the full viewport height */
    margin: 0;
}

main {
    flex-grow: 1; /* Allow the main content to grow to fill the remaining space */
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}
footer {
    background-color: #ece2e2; /* Example background color for the footer */
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

.form-group {
    margin-bottom: 10px; /* Adjust this value as needed for the desired spacing */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
}

main {
    padding: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}
/* new */
button:hover {
    background-color: #0056b3;
}



